<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Three
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- <button ion-button full (click)="addShortcut('next meeting')">Add Next Meeting to Siri</button>
  <button ion-button full (click)="addShortcut('sales forecast')">Add Sales Forecast to Siri</button> -->

  <button ion-button color="primary" (click)="donatingShortcut()">Donating</button>
    <button ion-button color="primary" (click)="presentShortcut()">Present</button>
    <button ion-button color="primary" (click)="removeShortcut()">Remove</button>
    <button ion-button color="primary" (click)="removeAllShortcuts()">Remove All</button>
  </ion-content>
  